In [1]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, DateTime, func
from sqlalchemy.orm import sessionmaker
from geoalchemy2 import Geometry
import pandas as pd

In [2]:
engine = create_engine('postgresql://gis:gis@localhost:5432/geodatabase', echo=False)
Session = sessionmaker(bind=engine)
session = Session()
Base = declarative_base()

In [3]:
class GwWell(Base):
    __tablename__ = 'gwwells'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    lat = Column(Float)
    lon = Column(Float)
    date = Column(DateTime)
    geom = Column(Geometry(geometry_type='POINT', srid='4269'))
    #Column(Geometry(geometry_type='POINT', srid=4326))

In [5]:
GwWell.__table__.create(engine)
GwWell.__table__

Table('gwwells', MetaData(bind=None), Column('id', Integer(), table=<gwwells>, primary_key=True, nullable=False), Column('station', String(), table=<gwwells>), Column('lat', Float(), table=<gwwells>), Column('lon', Float(), table=<gwwells>), Column('date', DateTime(), table=<gwwells>), Column('geom', Geometry(geometry_type='POINT', srid=4269, from_text='ST_GeomFromEWKT', name='geometry'), table=<gwwells>), schema=None)

In [6]:
stationsDf = pd.read_csv('Csv/stations.csv', index_col=0, parse_dates=[4,6])
stationsDf.head()

       STATION_NM  dec_lat_va  dec_long_v DTdeparsed  WLA_DEM       Date
0    JL-49-13-509   31.815556 -106.434167 1913-07-27  3686.72 1913-07-27
1    JL-49-13-521   31.826944 -106.425000 1915-10-20  3688.98 1915-10-20
2    JL-49-13-816   31.788611 -106.453334 1919-05-19  3673.88 1919-05-19
3    JL-49-13-523   31.826944 -106.422778 1920-01-06  3660.38 1920-01-06
4  20N.08E.15.134   35.966111 -106.086667 1921-05-03  5571.08 1921-05-03

In [7]:
session.rollback()
for index, row in stationsDf.iterrows():
    rowLat = row.dec_lat_va,
    rowLon = row.dec_long_v,
    well = GwWell(
        id = index,
        station = row.STATION_NM,
        lat = rowLat,
        lon = rowLon,
        date = row.Date,
        geom = 'SRID=4269;POINT(%.8f %.8f)'%(rowLon+rowLat)
    )
    #print(well.geom)
    session.add(well)

In [8]:
#session.rollback()
session.commit()